body{
    background-color: #889e81;
    margin: 0;
} 
header{
    background-color: rgb(186, 205, 200);
    color: black;
    text-align: right;
    padding: 2rem;
}
main{
    border: 0px solid rgb(64, 0, 255);
}

.wrapper{
    border: 0px black solid;
    margin: 0 auto;
    max-width: 40rem;
}

h1{
    color: black;
    text-align: center;
}

h2{
    color: #317873;
    text-align: center;
}
h2.logo{
    background-color: rgb(36, 79, 36);
    text-align: center;
    width: 6rem;
    height: 6rem;
    display: grid;
    align-items: center;
    border-radius: 50%;
}

article{
    background-color: #f0f0f0;
    border: 1px solid gray;
    padding: 1.3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    filter: drop-shadow(.3rem .3rem .2rem #c7c7c7)
}
footer{
    background-color: rgb(186, 205, 200);
    color: ivory;
    text-align: center;
    padding: 1rem;
}

/*general link styling*/
a:link{
    color:rgb(136, 118, 154);
}
a:visited{
    color: rgb(36, 79, 36);
}
a:hover{
    color: blue;
}
a:active{
    color: orangered;
}

/*link styling for header*/
header a:link{
    color: white;
    text-decoration: none;
}
header a:visited{
    color: white;
    text-decoration: none;
}
header a:hover{
    color: black;
    text-decoration: underline;
}
header a:active{
    color: black;
    text-decoration: underline;
}


