/*GENERAL STYLING*/
body{
    background-color: #f7e7c7;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#wrapper{
    display: grid;
    grid-template-rows: auto 2fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}
h1, h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
    text-align: center;
}
p{
    line-height: 150%;
}

/* HEADER & NAV BAR */
#logo{
    background-color: #2F3E4D;
    padding: 0.2rem;
    border-radius: 50%;
    display: grid;
    align-items: center;
    text-align: center;
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid aliceblue;
    background-color: #576A7F;

    grid-row: 1/2;
    grid-column: 1/2;
}
/*.hero{
    position: relative;
}
/*.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
} */
 .heading img{
    width: 100%;
    height: 20vh;
    object-fit: cover;
 }
.heading{
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    margin: 0;
}
.heading img{
    border-radius: 0;
}
.hero-text, .heading > p{
    font-size: 1.3rem;
    text-align: center;
}
hr{
    border: 2px solid #576A7F;
    width: 20rem;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    margin: 0rem;
    color: black;
}
nav ul a:hover{
    color: black;
    background-color: aliceblue;
    border: dashed green 2px;
    border-radius: 1rem;
    padding: 1rem;
}
nav li{
    list-style-type: none;
    margin: 25px;
}
header a{
    text-decoration: none;
    color: white;
}

/* HOMEPAGE */
main{
    margin-bottom: 5rem;
}
#home-main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    grid-row: 3/4;
    grid-column: 1/2;
}
#headshot{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: rgb(181, 202, 209);
    padding: 0.5rem;
    border-radius: 3rem;
    background-clip: content-box;
    border: 4px dashed aliceblue;
    filter: drop-shadow(.3rem .3rem .2rem #c7c7c7);
    max-height: fit-content;
}
img{
    border-radius: 2rem;
    max-width: 100%;
    display: block;
    margin: auto;
}
#introsentence{
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: rgb(181, 202, 209);
    border: 2px solid aliceblue;
    margin: 2rem;
    padding: 1rem;
    max-height: fit-content;
    font-size: 120%;
}
#abtme{
    grid-row: 1/2;
    grid-column: 3/4;
    background-color: rgb(181, 202, 209);
    border: 2px solid aliceblue;
    margin: 2rem;
    padding: 1rem;
    max-height: fit-content;
    font-size: 120%;
}
footer{
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #576A7F;
    color: white;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: black;
}

/* PORTFOLIO PAGE */  
#portfolio-main{
    display: grid;
    grid-template-rows: auto 2fr auto;
    grid-template-columns: 1fr;

    grid-row: 3/4;
    grid-column: 1/2;
}
#pr1{
    grid-row: 1/2;
    grid-column: 1/2;
}
#pr2{
    grid-row: 2/3;
    grid-column: 1/2;
}
#grant-proposal{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    grid-row: 3/4;
    grid-column: 1/2;
}
#grant-words{
    background-color: lightblue;
    grid-row: 1/2;
    grid-column: 1/2;
}
#grant-photo{
    margin: 1rem;
    padding: 1rem;
    grid-row: 1/2;
    grid-column: 2/3;
    align-items: center;
}
.press-release{
    margin: 1rem;
    padding:1.5rem;
    background-color: lightblue;
    filter: drop-shadow(.3rem .3rem .2rem #c7c7c7);
    max-height: fit-content;
    border-radius: 3rem;
}
#portfolio-main a{
    color: black;
}
#portfolio-main a:hover{
    color: darkgreen;
}

/* CONTACT ME PAGE */
#contact-main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;

    grid-row: 3/4;
    grid-column: 1/2;
}
#flower-arch{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 2rem;
    padding: 1rem;
    background-color: lightblue;
    border: 4px dashed aliceblue;
}
#flower-arch img{
    height: auto;
}
#content{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    grid-row: 1/2;
    grid-column:2/3;
}
#gettowork{
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 2rem;
    padding: 1rem;
    background-color: lightblue;
    max-height: fit-content;
}
#connectlinks{
    grid-row: 2/3;
    grid-column: 1/2;
    margin: 2rem;
    padding: 1rem;
    background-color: lightblue;
    max-height: fit-content;
}
#connectlinks a{
    color: black;
    text-decoration: none;
}
#connectlinks a:hover{
    color: white;
}

/*RESUME*/
#resume-main{
    grid-row: 3/4;
    grid-column: 1/2;
    padding: 2rem;
}
.resume{
    background-color: rgb(181, 202, 209);
    border: 2px solid aliceblue;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
}
.resume h2{
    color: #2F3E4D;
}

/*RESPONSIVE DESIGN*/
@media (max-width:800px) {
    #wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #wrapper > * {
        grid-row: auto;
        grid-column: auto;
}
    #home-main{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
}

    #home-main > * {
        grid-row: auto;
        grid-column: auto;
}

    #content, #contact-main, #grant-proposal{
        display: flex;
        flex-direction: column;
    }
    #connectlinks{
        order: 1;
    }
    #gettowork{
        order: 2;
    }
    #flower-arch{
        order: 3;
    } 
    #grant-words{
        order: 1;
    }
    #grant-photo{
        order: 2;
    }
}



